<section class="section background">
  <div class="section__title">Обо мне</div>
  <div class="section__content">
    <p>
      Настоящее время Я
      <a class="underline-link" href="https://atki.adu.uz/news/index" target="_blank">  учусь на факультете Информационных технологий и вычислительной техники</a> на втором курсе
      <a class="underline-link" href="https://adu.uz/" target="_blank">Андижанского Государственного Университета</a>  в компьютерной инженерия в сфере информационных технологий.
    </p>

    <p>
      Я развиваю и совершенствую свои знания в области компьютерных информационных 
      технологий и одновременно свои знания в области информационных 
      телекоммуникаций. У меня также большой опыт работы в области сетевых и компьютерных технологий.
    </p>

    <p>
      <strong>Сегодняшнее время я работаю в сфере сетевых технологий Cisco</strong> и учусь самостоятельно в этом областе
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
