<section class="section experience">
  <div class="section__title experience__title">Experience</div>
  <div class="my__job">
    <div class="time-place">
      <div class="job__company">
        <a href="{{job.url}}" target="_blank">{{job.company}}</a>
      </div>
      <div class="job__time">{{job.time}}</div>
    </div>
    <div class="job__position">
      <h1 class="job__position_h1"> и до сегодняшнего дня Компьютерные навыки</h1>
      <p>2010</p>
    </div>
    <div class="time-place">
      <div class="job__company">
        <a href="{{job.url}}" target="_blank">{{job.company}}</a>
      </div>
      <div class="job__time">{{job.time}}</div>
    </div>
    <div class="job__position">
      <h1 class="job__position_h1">Управление цифровыми аудиотехниками</h1>
      <p>2015-2017</p>
    </div>
    <!-- 2017-2018 Фотографирования и пользования с фотоаппаратом -->
    <div class="time-place">
      <div class="job__company">
        <a href="{{job.url}}" target="_blank">{{job.company}}</a>
      </div>
      <div class="job__time">{{job.time}}</div>
    </div>
    <div class="job__position">
      <h1 class="job__position_h1">Фотографирования и пользования с фотоаппаратом</h1>
      <p>2017-2018</p>
    </div>
    <div class="time-place">
      <div class="job__company">
        <a href="{{job.url}}" target="_blank">{{job.company}}</a>
      </div>
      <div class="job__time">{{job.time}}</div>
    </div>
    <div class="job__position">
      <h1 class="job__position_h1">до сегодняшнего дня Веб программирование</h1>
      <p>2018</p>
    </div>
    <div class="time-place">
      <div class="job__company">
        <a href="{{job.url}}" target="_blank">{{job.company}}</a>
      </div>
      <div class="job__time">{{job.time}}</div>
    </div>
    <div class="job__position">
      <h1 class="job__position_h1">до сегодняшнего дня Сетевая инженерия и Сетевые технологии</h1>
      <p>2018</p>
    </div>
  </div>
  <!--   <div class="section__content"> -->
  <!-- <div class="jobs"> -->
  <!-- {% for job in site.data.experience %} -->
  <!-- <p> 2010</p> -->


  <!-- {% endfor %} -->
  <!-- </div> -->
  <br />
  <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  <!-- </div> -->
</section>