<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span> </span>
    </div>
    <div class="bottom">
      <span>Anvarkhon Fakhriddinov</span>
      <span>2023</span>
    </div>
  </div>
  <div class="footer__links">
    <a href="mailto: afenix950@gmail.com" target="_blank" title="{{link.title}}">
      <span class="text">Email</span>
    </a>
    <a href="https://www.instagram.com/anvarkhan.fakhriddinov/" target="_blank" title="{{link.title}}">
      <span class="text">Instagram</span>
    </a>
    <a href="https://www.linkedin.com/in/anvarkhon-fakhriddinov-758b46258/" target="_blank" title="{{link.title}}">
      <span class="text">Linkedin</span>
    </a>
    <a href="https://t.me/anvarxon5445" target="_blank" title="{{link.title}}">
      <span class="text">Telegram</span>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100078992947763&sk=friends" target="_blank" title="{{link.title}}">
      <span class="text">Facebook</span>
    </a>
  </div>
</footer>
