<section class="section skills">
  <div class="section__title">НАВЫКИ</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Языки</div>
        <ul>
          <li class="skillz__category__item">Русский язык</li>
          <li class="skillz__category__item">Английский язык</li>
          <li class="skillz__category__item">Узбекский язык</li>
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Cпециалист</div>
        <ul>
          <li class="skillz__category__item">Kомпьютерная инженерия</li>
          <li class="skillz__category__item">Cетевая и кибер безопасность</li>
          <li class="skillz__category__item">Cетевые технологии</li>
        </ul>
      </div>
    </div>
  </div>
</section>
